<!DOCTYPE html>
<html>
  <head><title>À Quatre Pas D'ici</title></head>
    <div class="wrapperwide">
      <div class="conteudo">
        <div class="posts">

          <% @posts.each do |post| %>
            <div class="post">
              <h1><%= link_to post_path(post) do %><%= post.title %><% end %></h1>
              <h2><%= post.date.strftime("%m/%d/%Y") %></h2>
              <p>
                <%= post.body.match(/^.{0,666}\b/)[0] %>
              </p> <%= link_to post_path(post) do %>ver mais<% end %>
            </div>
          <% end %>

        </div>
        <div class="archive">
          <ul>
            <li><h1>Arquivo de Postagens</h1></li>
            <li><h2>Postagens antigas classificadas por mês</h2></li>
            <li>Janeiro de 2017</li>
            <li>Dezembro de 2016</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
