<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Damion|Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/icon round.ico" type="image/x-icon">
    <link rel="icon" href="/assets/icon round.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.1.1.js"  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/style.css">
  </head>

  <body>
    <%= render 'shared/header'%>
    <%= render 'shared/alerts'%>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
